@using scribble.Libs
@using Newtonsoft.Json
@model IEnumerable<scribble.ViewModels.DrawingViewModel>
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center p-3">Gallery</h2>

@foreach (var row in Model.ToArray().Split(3))
{
	<div class="p-3 row text-center">
		@foreach (var drawing in row)
		{
			<div class="col-md-4">
				<div class="thumbnail btn btn-dark border border-secondary btn-block"> 
					<img class="bg-white rounded img-fluid btn-sm" src="@drawing.DrawingBytes"
						 onclick="pokajiBolishuiuKartinku(@JsonConvert.SerializeObject(drawing))">
					<hr />
					<h3 id="thumbnail-label" style="overflow: hidden;">@drawing.Title</h3>
				</div>
			</div>
		}
	</div>
} 

