<div class="container-fluid">

    <a class="navbar-brand" style="cursor: pointer" onclick="location.href='@Url.Action("Index", "Home")'">ArtWars</a>
    <button class="navbar-toggler hidden-lg-up pull-right" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" style="cursor: pointer" onclick="location.href='@Url.Action("Wars", "Home")'">Wars</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="cursor: pointer" onclick="location.href='@Url.Action("Postbellum", "Home")'">Postbellum</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="cursor: pointer" onclick="location.href='@Url.Action("About", "Home")'">About</a>
            </li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-user"></span> Sign Up</a></li>

            <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-sign-in"></span> Login</a></li>
        </ul>
    </div>

</div>