<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>scribble | @ViewBag.Title</title>

	<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/rangeslider.css" rel="stylesheet" type="text/css" />
	<script src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script src="~/Scripts/rangeslider.min.js"></script>
</head>
<body>

	@Html.Partial("_Header")

	<div class="container p-3">
		@RenderBody()
		@RenderSection("Scripts", required: false)
	</div>

	<script src="~/Scripts/umd/popper.min.js"></script>
	<script src="~/Scripts/modernizr-2.8.3.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Scripts/jscolor.min.js"></script>
	<script src="~/Scripts/bootbox.min.js"></script>
	<script src="~/Scripts/pizdatii-script.js"></script>
</body>
</html>