@{
        ViewData["Title"] = "About";
}

<div class="container container-fluid">
    <br /><br />
    <div class="jumbotron">
        <h2 class="text-center text-secondary">About ArtWars</h2>
        <br /><br /><hr />
        <p class="lead text-center">
            Bad day, mate? Come here, make yourself comfortable,
            bring some snacks and be ready for some real
            action.
        </p>
    </div>
</div>

