@using scribble.Libs
@using Newtonsoft.Json
@model IEnumerable<scribble.ViewModels.DrawingViewModel>
@{
	var user = User.Identity.Name;
	ViewBag.Title = user + "'s Gallery";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center p-3">Your Gallery</h2>

@foreach (var row in Model.ToArray().Split(3))
{
	<div class="p-3 row text-center">
		@foreach (var drawing in row)
		{
			<div class="col-md-4">
				<div class="btn btn-dark thumbnail border border-secondary btn-block">
					<a href="@Url.Action("DeleteDrawing", "User", new { url = drawing.DrawingBytes })" onclick="return confirm('Are you sure?')" class="btn-sm btn btn-danger float-right rounded">x</a><hr class="invisible" />
					<img class="rounded bg-white img-fluid btn-sm" src="@drawing.DrawingBytes"
						 onclick="pokajiBolishuiuKartinku(@JsonConvert.SerializeObject(drawing))">
					<hr />
					<div class="caption">
						<h3 id="thumbnail-label" style="overflow: hidden;">@drawing.Title</h3>
					</div>
				</div>
			</div>
		}
	</div>
}
