<footer class="card-footer small bg-primary fixed-bottom">
    <div class="text-center">
        © @DateTime.Now.Year Copyright ArtWars
    </div>
    <div class="text-right">
        <!--Facebook-->
        <a class="ui-button-icon-primary" href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook fa-lg text-white mr-md-4"> </i></a>
        <!--Twitter-->
        <a class="ui-button-icon-primary" href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter fa-lg text-white mr-md-4"> </i></a>
        <!--Instagram-->
        <a class="ui-button-icon-primary" href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram fa-lg text-white mr-md-4"> </i></a>
        <!--Pinterest-->
        <a class="ui-button-icon-primary" href="https://www.pinterest.com" target="_blank"><i class="fa fa-pinterest fa-lg text-white"> </i></a>
    </div>
</footer>
