@{
    ViewData["Title"] = "Battles";
}

<div class="container">
    <h1 class="text-center">Available Battles (Number -> TO DO)</h1>

    <!-- Will appear if available, if not - text (not sure how to implement, but I'll find out) -->

    <div class="row">
        <div class="col-lg-6 card">
            <a href="#"><img class="card-img-top rounded-circle" src="~/Images/placeholder.png" /></a>
            <div class="card-body">
                <h3 class="text-center card-title">Wubba Lubba Dub Dub</h3>
            </div>
        </div>
        <div class="col-lg-6 card">
            <a href="#"><img class="card-img-top rounded-circle" src="~/Images/placeholder.png" /></a>
            <div class="card-body">
                <h3 class="text-center card-title">We'll Bang, ok?</h3>
            </div>
        </div>
        <div class="col-lg-6 card">
            <a href="#"><img class="card-img-top rounded-circle" src="~/Images/placeholder.png" /></a>
            <div class="card-body">
                <h3 class="text-center card-title">J̷̩̍u̶͇͂s̵͚̽t̸͈̕ M̷̪̃ŏ̷͖n̸͕̂i̷̦͝k̵͍̕a̵̛̱</h3>
            </div>
        </div>
    </div>
</div>

