@{ 
	ViewData["Title"] = "Home";
	Layout = "~/Views/Shared/_Layout.cshtml"; 
}

@model artWars.Web.Models.UserData

<div class="container" style="padding-top:5em; padding-left:4em; padding-right:4em">
    <div class="jumbotron text-center" style="background-color:whitesmoke">
        <h1 class="display-3">Welcome to ArtWars</h1>
        <br /><br />
        <p class="lead">Where your pen is your weapon.</p>
        <p class="lead">And the canvas is your battlefield.</p>
        <br/>
        <p class="lead">
            <a class="btn btn-dark btn-lg" href="#" role="button">START A WAR</a>
        </p>
    </div>
</div>
